version: "3"
services:
  postgres:
    container_name: postgres
    image: postgres:latest
    environment:
      # To hide
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres-db:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  user-service:
    container_name: user-service
    image: user-service-img
    environment:
      # To hide
      RESTAPI_PORT: 3002
      DB_SERVER: postgres # PostgreSQL variables.
      DB_DATABASE: postgres
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_PORT: 5432
      SECRET_KEY: J7kPq2xRtVzLwY9fX6eG1sA4iB3oDmC8nU5hW0lZ
    restart: always
    build: .
    ports:
      - "3002:3002"
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:3002/users/getall",
          "||",
          "exit",
          "1"
        ]
      interval: 60s
      retries: 5
      start_period: 20s
      timeout: 10s

volumes:
  # Persistent data
  postgres-db:
